.sidebar-button-wrapr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  /* margin-bottom: 2px; */
  /* border: red solid 2px; */
  background-color: powderblue;
  cursor: pointer;
}
.sidebar-icon {
  width: 27px;
  height: 27px;
  font-size: 12px;
  text-align: center;
  line-height: 27px;
  /* background-color: burlywood; */
  /* background-image: url("../../public/mulu.png"); */
}

.sidebar-icon:active {
  opacity: 0.5;
}
.sidebar-icon:hover {
  /* background-image: url("../../public/setting-icon.png"); */
  opacity: 0.7;
}
.sidebar-icon.slected {
  width: 27px;
  height: 27px;
  /* background-image: url("../../public/mulu2.png"); */
}
