.btn {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 56px;
  height: 32px;
  border-radius: 4px;
  background: rgba(46, 170, 220, 1);
}
.btn:hover {
  background: rgba(7, 156, 205, 1);
  cursor: pointer;
}

.btn:active {
  background: rgba(2, 141, 190, 1);
  opacity: 0.5;
}

.btn-disabled {
  background: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.btn-content {
  font-size: 12px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  line-height: 32px;
}
